{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Envelopadoras e Equipamentos para Administradoras de Condomínios</h1>
                    <h2>Executamos serviços de manutenção em envelopadoras, locação de maquinas gráficas e
                        impressoras.</h2>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="/static/assets/img/impressoras/index_thumb_02.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">


        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 pt-lg-3">
                        <img src="/static/assets/img/impressoras/m3655-removebg-preview.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-1 pt-lg-4 content">
                        <h3>Aluguel de envelopadoras e impressoras, fale com a Elmaq</h3>
                        <p>
                            Soluções Impressas e Digitais trabalha com as melhores soluções do mercado de envelopadoras,
                            equipamentos práticos, funcionais e eficientes para empresas que precisam emitir grandes
                            volumes de boletos, como administradoras de condomínios, operadoras de cartão de crédito e
                            crediário, escolas particulares, universidades, entre outros negócios que necessitam de
                            agilidade, alto desempenho e confiabilidade em seus processos diários.
                        </p>

                        <p>
                            A envelopadora é um equipamento com diversas funções, com a capacidade de transformar uma
                            folha de papel impressa em envelope Simplex ou em dois envelopes Duplex. O equipamento
                            possui alimentação vertical ou horizontal, com guias laterais, sistema de aplicador
                            automático para cola à base de água, corte ajustável, sistema preciso de serrilhamento,
                            entre outras soluções que tornam o trabalho mais rápido e prático.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->


        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container">

                <div class="section-title">
                    <span>Serviços</span>
                    <h2>Serviços</h2>
                    <p>Venda, locação, e manutenção de auto-envelopadoras e impressoras.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><img src="/static/assets/img/icons/pedindo-emprestado.png"
                                                   class="img-fluid" alt=""></div>
                            <h4><a href="">Locação</a></h4>
                            <p>No caso de qualquer irregularidade no
                                equipamento, a Elmaq faz o reparo ou a substituição da máquina, para que a empresa não
                                fique sem a envelopadora ou impressora.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <div class="icon"><img src="/static/assets/img/icons/credor.png" class="img-fluid" alt="">
                            </div>
                            <h4><a href="">Venda</a></h4>
                            <p>A Elmaq conta com a venda de impressoras e envelopadoras, trabalhamos com a venda das fabricantes Kyocera e Docfinish.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon"><img src="/static/assets/img/icons/manutencao.png" class="img-fluid"
                                                   alt=""></div>
                            <h4><a href="">Manutenção</a></h4>
                            <p>O suporte técnico é oferecido pela Elmaq no menor prazo possível e todas as condições
                                contratuais são cumpridas com rigor e responsabilidade, a fim de oferecer ao cliente o
                                melhor atendimento e suporte do mercado.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <span>Produtos</span>
                    <h2>Produtos</h2>
                    <p>Impressoras Kyocera e auto-envelopadoras Docfinish</p>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Todas</li>
                            <li data-filter=".filter-card">Envelopadoras</li>
                            <li data-filter=".filter-app">Impressoras</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="/static/assets/img/impressoras/m3655-removebg-preview.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Kyocera ECOSYS</h4>
                            <p>M3655idn</p>
                            <a href="/static/assets/img/impressoras/m3655-removebg-preview.jpg"
                               data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link" title="M3655idn"><i class="bx bx-plus"></i></a>
                            <a href="portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <img src="/static/assets/img/envelopadoras/e2k-1-removebg-preview2.png" class="img-fluid"
                             alt="">
                        <div class="portfolio-info">
                            <h4>Docfinish</h4>
                            <p>E2k</p>
                            <a href="portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="/static/assets/img/impressoras/m2040-removebg-preview.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Kyocera ECOSYS</h4>
                            <p>M2040dn</p>
                            <a href="/static/assets/img/impressoras/m2040-removebg-preview.jpg"
                               data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link" title="M2040dn"><i class="bx bx-plus"></i></a>
                            <a href="portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="/static/assets/img/impressoras/FS-2100DN-wide2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Kyocera ECOSYS</h4>
                            <p>FS-2100DN</p>
                            <a href="/static/assets/img/impressoras/FS-2100DN-wide2.jpg" data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link" title="FS-2100DN"><i class="bx bx-plus"></i></a>
                            <a href="portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <img src="/static/assets/img/envelopadoras/e-20k-removebg-preview.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Docfinish</h4>
                            <p>E20k</p>
                            <a href="/static/assets/img/envelopadoras/e-20k-removebg-preview.jpg"
                               data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link" title="E20k"><i class="bx bx-plus"></i></a>
                            <a href="portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <img src="/static/assets/img/envelopadoras/e-10k-removebg-preview.jpg" class="img-fluid bg"
                             alt="">
                        <div class="portfolio-info">
                            <h4>Docfinish</h4>
                            <p>E10k</p>
                            <a href="/static/assets/img/envelopadoras/e-10k-removebg-preview.jpg"
                               data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link" title="E10k"><i class="bx bx-plus"></i></a>
                            <a href="portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <span>Contato</span>
                    <h2>Contato</h2>
                    <p>Entre em contato pra solicitar um orçamento</p>
                </div>

                <div class="row">

                    <div class="align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Localização:</h4>
                                <p>Rua José Rodrigues Figueredo, 58 - Matatu, Salvador - BA, 40260-015</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>impressorasenvelopadoras@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Telefone:</h4>
                                <p>71 9 9926-7023</p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section><!-- End Contact Section -->

    </main><!-- End #main -->

{% endblock %}